html,
body {
  font-family:
    nyt-cheltenham, cheltenham-fallback-georgia, cheltenham-fallback-noto,
    georgia, "Times New Roman", times, serif;
}

.site-container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}
